<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/home.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.css" />
    <script type="text/javascript" src="../static/js/jquery-1.11.3.min.js"></script>

    <title>个人资料修改</title>
    <script type="text/javascript">
        $(function () {
            var setTime;
            $(".egc-top .nav-cent .operate").hover(function () {
                var _this = $(this);
                setTime = setTimeout(function () {
                    _this.find(".sec-version").slideDown(200);
                    _this.find("i").removeClass("icon-angle-down").addClass("icon-angle-up");
                }, 200);
            }, function () {
                if (setTime) {
                    clearTimeout(setTime);
                }
                $(".egc-top .nav-cent .sec-version").slideUp(200);
                $(".egc-top .nav-cent .operate i").removeClass("icon-angle-up").addClass("icon-angle-down");
            });
        });
    </script>
</head>

<body>
    <div class="egc-top">
        <div class="nav-cent">
            <div class="top-r">
                <div class="operate reg">注册<i class="icon-angle-down icon-large"></i>
                    <div class="sec-version">
                        <div class="items"><a href="#">教师版</a></div>
                        <div class="items"><a href="#">学生版</a></div>
                    </div>
                </div>
                <div class="operate">登陆<i class="icon-angle-down icon-large"></i>
                    <div class="sec-version">
                        <div class="items"><a href="#">教师版</a></div>
                        <div class="items"><a href="#">学生版</a></div>
                    </div>
                </div>
            </div>
            <div class="top-l">您好，欢迎来到金果果幼儿园首页</div>
            <div class="clear_fix"></div>
        </div>
    </div>
    <div class="navigation">
        <div class="nav-cent">
            <ul>
                <li class="logo"><a href="http://127.0.0.1:5000/index"></a></li>
                <li><a href="http://127.0.0.1:5000/index">首页</a></li>
                <li><a href="http://127.0.0.1:5000/present">礼物兑换</a></li>
                <li><a href="http://127.0.0.1:5000/show">成果展示</a></li>
                <li><a href="http://127.0.0.1:5000/write">文章发表</a></li>
                <li><a href="http://127.0.0.1:5000/connect">联系我们</a></li>
                <li><a href="http://127.0.0.1:5000/about">关于我们</a></li>
            </ul>
        </div>
    </div>

    <div class="ftWrap">
        <div class="foot">
            <div class="cent">
                <div class="relate">
                    <div class="items">
                        <div class="tit"><i class="icon-angle-right"></i>关于我们</div>
                        <div class="con"> <a href="#">了解我们</a><a href="#">行政团队</a><a href="#">教师团队</a><a
                                href="#">联系我们</a> </div>
                    </div>
                    <div class="items">
                        <div class="tit"><i class="icon-angle-right"></i>办园目标</div>
                        <div class="con"><a href="#">促进幼儿快乐成长</a><a href="#">健康成长</a><a href="#">和谐发展</a><a
                                href="#">构建特色示范园</a>
                        </div>
                    </div>
                    <div class="items">
                        <div class="tit"><i class="icon-angle-right"></i>办园理念</div>
                        <div class="con"> <a href="#">启迪智慧</a><a href="#">陶冶心灵</a><a href="#">培养兴趣</a><a
                                href="#">健康成长</a>
                        </div>

                    </div>
                    <div class="items">
                        <div class="tit"><i class="icon-angle-right"></i>金果果精神</div>
                        <div class="con"> <a href="#">奉献</a> <a href="#">进取</a> <a href="#">创新</a><a href="#">育人</a>
                        </div>
                    </div>
                    <div class="items last">
                        <div class="tel">
                            <h1>3828189</h1>
                            <p>周一至周日 8:00-18:00</p>
                            <a href="#" class="kf"><i class="kf-icon"></i>在线客服</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="cent">
                <div class="copy-txt">
                    <div class="copy-menu"><a href="#">问题反馈</a><a href="#">帮助中心</a><a href="#">官方电话</a><a
                            href="#">官方微信</a></div>
                    <p>Copyright © 2015 - 2016 EGC. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
<script>
    token = window.localStorage.getItem('dn_token');
    username = window.localStorage.getItem('dn_user');
    var html_body = ''
    $.ajax({
       // 请求方式
       type:"get",
       // url
       url:"http://127.0.0.1:8000/v1/users/"+ username,
       beforeSend: function(request) {
           request.setRequestHeader("Authorization", token);
       },
       success:function (result) {
           if (200 == result.code){
               console.log(result);
               $(document).attr('title', '个人信息修改-'+ result.data.nickname);
               html_body += '<div class="bg">';
               html_body += '<img src="#" alt="">';
               html_body += '</div>'
               html_body += '<div class="main">';
               html_body += '<div class="header" >';
               html_body += '<h1>个人信息修改</h1>';
               html_body += '</div>';
               html_body += '<p></p>';
               html_body += '<ul class="left-form">';
               html_body += '<li>';

               html_body += '<label style="float:left;display:inline-block">昵称: </label>'
               html_body += '<div class="clear"> </div>';
               html_body += '<li>';
               html_body += '<input type="text" class="nickname" name="nickname" value="' + result.data.nickname + '"' + 'placeholder="请输入新的昵称" required maxlength="10" />';
               html_body += '<div class="clear"> </div>';
               html_body += '</li>';
               html_body += '<label style="float:left;display:inline-block">个人签名: </label>'
               html_body += '<div class="clear"> </div>';
               html_body += '<li>';
               if(result.data.sign){
                   html_body += '<input type="text" class="sign" name="sign" placeholder="请输入个人签名" required  value="' + result.data.sign + '"' + '/>';
               }else{
                   html_body += '<input type="text" class="sign" name="sign" placeholder="请输入个人签名" required  value=""/>';
               }
               html_body += '<div class="clear"> </div>';
               html_body += '</li>';
               html_body += '<label style="float:left;display:inline-block">个人描述: </label>'
               html_body += '<div class="clear"> </div>';
               if(result.data.info){
                   html_body += '<textarea class="info" rows="3" cols="20" placeholder="请输入个人描述" style="width:100%; font-size:15px; padding:0.7em 2em 0.7em 1em" required>' + result.data.info + '</textarea>';
               }else{
                   html_body += '<textarea class="info" rows="3" cols="20" placeholder="请输入个人描述" style="width:100%; font-size:15px; padding:0.7em 2em 0.7em 1em" required></textarea>';
               }
               html_body += '<div class="clear"> </div>';
               html_body += '</li>';

               html_body += '<li style="border:none">';
               html_body += '</br>'
               html_body += '<input type="button" value="保存" onclick="changeInfo()">';
               html_body += '</li>';
               html_body += '</ul>';
               html_body += '<div class="clear"> </div>';
               html_body += '</div>';
               $('.navigation').html(html_body);
             }else{
                 alert(result.error)
             }
         }
    });

    function changeInfo(){
        var token = window.localStorage.getItem('dn_token');
        var username = window.localStorage.getItem('dn_user');
        var nickname = $('.nickname').val();
        var sign = $('.sign').val();
        var info = $('.info').val();
        var post_data = {'nickname':nickname, 'sign':sign, 'info':info};

        $.ajax({
        // 请求方式
        type:"put",
        // contentType
        contentType:"application/json",
        // dataType
        dataType:"json",
        // url
        url:"http://127.0.0.1:8000/v1/users/" + username,
        // 把JS的对象或数组序列化一个json 字符串
        data:JSON.stringify(post_data),
        // result 为请求的返回结果对象
        beforeSend: function(request) {
            request.setRequestHeader("Authorization", token);
        },
        success:function (result) {
            if (200 == result.code){
                alert("修改成功")
                username = result.username
                location.href = 'http://127.0.0.1:5000/username/msg'
            }else{
                alert(result.error)
                window.location.href = '/login'
            }
           }
       });

    }
</script>

</body>

</html>